In [2]:
# import libraries
import pandas as pd

In [68]:
# read all files into their respective segments
seg_1 = pd.read_csv('csv-1700-1830.csv', encoding = "ISO-8859-1", parse_dates=['date(yyyyMMddHHmmss)'], date_format='ISO8601')
seg_2 = pd.read_csv('csv-1831-2000.csv', encoding = "ISO-8859-1", parse_dates=['date(yyyyMMddHHmmss)'], date_format='ISO8601')
seg_3 = pd.read_csv('csv-2001-2131.csv', encoding = "ISO-8859-1", parse_dates=['date(yyyyMMddHHmmss)'], date_format='ISO8601')

# concat vertically as df
df = pd.concat([seg_1, seg_2, seg_3], ignore_index=True)

In [69]:
# get shape of individual segments and concatenated dataframe
print('Segment 1 shape:', seg_1.shape)
print('Segment 2 shape:', seg_2.shape)
print('Segment 3 shape:', seg_3.shape)
print('Dataframe shape:', df.shape)

Segment 1 shape: (1033, 7)
Segment 2 shape: (1815, 7)
Segment 3 shape: (1215, 7)
Dataframe shape: (4063, 7)

In [70]:
# get column names
for col in df.columns:
    print(col, end=' ')

type date(yyyyMMddHHmmss) author message latitude longitude  location

In [91]:
df.head()

,type,date(yyyyMMddHHmmss),author,message,latitude,longitude,location
0,mbdata,2014-01-23 17:00:00,POK,Follow us @POK-Kronos,NaN,NaN,NaN
1,mbdata,2014-01-23 17:00:00,maha_Homeland,Don't miss a moment! Follow our live coverage...,NaN,NaN,NaN
2,mbdata,2014-01-23 17:00:00,Viktor-E,Come join us in the Park! Music tonight at Abi...,NaN,NaN,NaN
3,mbdata,2014-01-23 17:00:00,KronosStar,POK rally to start in Abila City Park. POK lea...,NaN,NaN,NaN
4,mbdata,2014-01-23 17:00:00,AbilaPost,POK rally set to take place in Abila City Park...,NaN,NaN,NaN

In [26]:
# get list of discrete values for each categorical variable
df['type'].unique()

array(['mbdata', 'ccdata'], dtype=object)

In [31]:
print(df['author'].unique())
print(len(df['author'].unique()))

['POK' 'maha_Homeland' 'Viktor-E' 'KronosStar' 'AbilaPost'
 'ourcountryourrights' 'ReggieWassali' 'MindOfKronos' 'FriendsOfKronos'
 nan 'rockinHW' 'KronosQuoth' 'Clevvah4Evah' 'rrWine' 'pinky' 'BlueVelvet'
 'dragonRider1' 'blueSunshine' 'dtennent' 'klingon4real' 'CentralBulletin'
 'choconibbs' 'sarajane' 'wiseWords' 'phantomagate' 'teresaJ'
 'microBanana' 'siliconKing' 'vetsRock' 'wireHead1122' 'mainman447'
 'grassGreeener' 'dealsRUs101' 'luvMyPants' 'brain448' 'powercrystals'
 'InternationalNews' 'anaregents' 'truccotrucco' 'michelleR' 'junkman995'
 'reggierockin776' 'rnbwBrite' 'skinnyJeans' 'dolls4sale' 'plasticParts'
 'SaveOurWildlands' 'Officia1AbilaPost' 'footfingers' 'truthforcadau'
 'soup4u' 'muppiesRock' 'gardener4958' 'sithLordJames' 'lindyT'
 'lordWally' 'GreyCatCollectibles' 'slamrjamr' 'stolkfair' 'worldWatcher'
 'hempRules' 'zengardener' 'eliza003' 'joyce101' 'katrina' 'stuffNstuff'
 'ninjabob' 'hotdrugs225' 'electricAvenue' 'carjunkers' 'superhero447'
 'henri' 'junkman377' 'dirtdigger334' 'cheapgoods998' 'farmboy'
 'junk99902' 'eazymoney' 'courage4life' 'maskedWoman101' 'vonneka'
 'meds4realz43' 'whiteprotein' 'starz1134' 'kedits' 'jaques' 'deals4realz'
 'junkieduck113' 'brandonL' 'jgrobannne' 'pashmina887' 'trollingsnark'
 'writinLazy' 'HomelandIlluminations' 'yomamma' 'OnlytheTruth'
 'cminvestments11' 'AbilaFireDept' 'dangermice' 'NewsOnlineToday'
 'redisrad' 'HerraTomas' 'martaflores' 'kingWilly' 'AbilaAllFaith'
 'rockStar113' 'cleaningFish' 'windAvatar' 'prettyRain' 'jenny90210'
 'mamin' 'martaO' 'unicorns' 'soulofShi' 'hazMore445' 'mailfoool'
 'AbilaPoliceDepartment' 'aliceRocks' 'hennyhenhendrix' 'brewvebeenserved'
 'dtrejos' 'hngohebo_ABILAPOST' 'trapanitweets' 'jsmith' 'sofitees'
 'surferMan' 'megaMan' 'protoGuy' 'panopticon' 'SiaradSea' 'roger_roger'
 'brontes_riff' 'Simon_Hamaeth' 'Sara_Nespola' 'supplementsRule'
 'pumpitup' 'praise111' 'creatorRocks' 'mountain478' 'hermanM' 'ernieO'
 'grlPwrz505' 'BoraVerissimo' 'onl1neRecords' 'luvwool' 'joyBubbles'
 'shoutItOut' 'aaasTech' 'joyousNoise' 'MarcusDrymiau' 'livin4HigherPower'
 'partyon' 'mattdies' 'fictionalJoe' 'omgponies']
155

In [32]:
print(df['message'].unique())
print(len(df['message'].unique()))

['Follow us @POK-Kronos'
 "Don't miss a moment!  Follow our live coverage of the POK Rally in the Park!"
 'Come join us in the Park! Music tonight at Abila City Park!' ...
 'RT @CentralBulletin explosion heard at dancing dolphin apartment #Abila #CentralBulletin'
 'RT @AbilaPost unknown explosion heard from the @dancingdolphin #AbilaPost'
 'RT @redisrad What was that? #boom']
2072

In [72]:
# comvert date column to datetime
df['date(yyyyMMddHHmmss)'] = pd.to_datetime(df['date(yyyyMMddHHmmss)'], format='%Y%m%d%H%M%S')

In [79]:
# get distribution of continuous variables
df[['date(yyyyMMddHHmmss)', 'latitude', 'longitude']].describe()

                date(yyyyMMddHHmmss)    latitude   longitude
count                           4063  147.000000  147.000000
mean   2014-01-23 19:19:05.473049600   36.056422   24.872245
min              2014-01-23 17:00:00   36.051000   24.852000
25%              2014-01-23 18:29:02   36.054000   24.856000
50%              2014-01-23 19:26:13   36.059000   24.856000
75%              2014-01-23 20:10:45   36.059000   24.901000
max              2014-01-23 21:34:45   36.059000   24.902000
std                              NaN    0.003016    0.021432

In [81]:
# get missing data
df.isnull().sum()

type                       0
date(yyyyMMddHHmmss)       0
author                   191
message                    0
latitude                3916
longitude               3916
 location               3887
dtype: int64

In [85]:
dupes = df.duplicated()

In [86]:
df[dupes]

,type,date(yyyyMMddHHmmss),author,message,latitude,longitude,location
70,mbdata,2014-01-23 17:06:44,wireHead1122,RT @CentralBulletin POK rally today in Abila C...,NaN,NaN,NaN
361,mbdata,2014-01-23 17:26:00,brain448,RT @AbilaPost POK rally is peaceful so far but...,NaN,NaN,NaN
410,mbdata,2014-01-23 17:27:59,KronosQuoth,Challenges are what make life interesting and ...,NaN,NaN,NaN
834,mbdata,2014-01-23 18:09:36,KronosQuoth,"Strive not to be a success, but rather to be o...",NaN,NaN,NaN
1601,mbdata,2014-01-23 19:00:01,brandonL,RT @KronosStar Paramedics say there are no ser...,NaN,NaN,NaN
1742,mbdata,2014-01-23 19:09:00,lindyT,RT @HomelandIlluminations Traffic being divert...,NaN,NaN,NaN
1773,mbdata,2014-01-23 19:11:00,brain448,RT @NewsOnlineToday Trapped resident rescued i...,NaN,NaN,NaN
1886,mbdata,2014-01-23 19:19:07,zengardener,RT @HomelandIlluminations More police have arr...,NaN,NaN,NaN
1952,mbdata,2014-01-23 19:22:42,vetsRock,RT @KronosStar The two fresh fire units have a...,NaN,NaN,NaN
1983,mbdata,2014-01-23 19:24:01,sithLordJames,RT @KronosStar A bicyclist has been hit on the...,NaN,NaN,NaN
2043,mbdata,2014-01-23 19:27:00,rrWine,RT @HomelandIlluminations officials have annou...,NaN,NaN,NaN
2054,mbdata,2014-01-23 19:27:13,siliconKing,RT @CentralBulletin expansion of evacuation pe...,NaN,NaN,NaN
2199,mbdata,2014-01-23 19:39:00,plasticParts,RT @AbilaPost If in the vicinity of Achilleos ...,NaN,NaN,NaN
3310,mbdata,2014-01-23 20:27:31,KronosQuoth,Develop success from failures. Discouragement ...,NaN,NaN,NaN
3370,mbdata,2014-01-23 20:31:48,KronosQuoth,An unexamined life is not worth living. #Kron...,NaN,NaN,NaN
3374,mbdata,2014-01-23 20:32:00,vetsRock,RT @KronosStar Firemen are running from the bu...,NaN,NaN,NaN
3986,mbdata,2014-01-23 21:25:03,wireHead1122,RT @CentralBulletin names of suspects arrested...,NaN,NaN,NaN

In [90]:
df[df['author'] == 'sithLordJames']

,type,date(yyyyMMddHHmmss),author,message,latitude,longitude,location
193,mbdata,2014-01-23 17:15:53,sithLordJames,RT @AbilaPost POK rally expected to draw in ex...,NaN,NaN,NaN
228,mbdata,2014-01-23 17:18:00,sithLordJames,RT @truccotrucco Sylvia rocks! you go girl #PO...,NaN,NaN,NaN
403,mbdata,2014-01-23 17:27:42,sithLordJames,RT @CentralBulletin estimates of POK rally has...,NaN,NaN,NaN
793,mbdata,2014-01-23 18:06:15,sithLordJames,RT @choconibbs Over 10 years ago people. #geto...,NaN,NaN,NaN
1390,mbdata,2014-01-23 18:49:03,sithLordJames,RT @KronosStar Abila Fire Department has dispa...,NaN,NaN,NaN
1589,mbdata,2014-01-23 18:59:46,sithLordJames,RT @NewsOnlineToday Nearby residents being eva...,NaN,NaN,NaN
1610,mbdata,2014-01-23 19:00:34,sithLordJames,RT @HomelandIlluminations Firemen report they ...,NaN,NaN,NaN
1622,mbdata,2014-01-23 19:01:42,sithLordJames,RT @AbilaPost firefighters have rescued a resi...,NaN,NaN,NaN
1689,mbdata,2014-01-23 19:04:31,sithLordJames,RT @HomelandIlluminations Fire is still out of...,NaN,NaN,NaN
1710,mbdata,2014-01-23 19:06:00,sithLordJames,RT @HomelandIlluminations Traffic being divert...,NaN,NaN,NaN
1733,mbdata,2014-01-23 19:08:00,sithLordJames,RT @KronosStar POK rally ends in a concert by ...,NaN,NaN,NaN
1782,mbdata,2014-01-23 19:12:00,sithLordJames,RT @NewsOnlineToday Trapped resident rescued i...,NaN,NaN,NaN
1862,mbdata,2014-01-23 19:18:07,sithLordJames,RT @HomelandIlluminations More police have arr...,NaN,NaN,NaN
1884,mbdata,2014-01-23 19:19:07,sithLordJames,RT @HomelandIlluminations More police have arr...,NaN,NaN,NaN
1982,mbdata,2014-01-23 19:24:01,sithLordJames,RT @KronosStar A bicyclist has been hit on the...,NaN,NaN,NaN
1983,mbdata,2014-01-23 19:24:01,sithLordJames,RT @KronosStar A bicyclist has been hit on the...,NaN,NaN,NaN
2046,mbdata,2014-01-23 19:27:00,sithLordJames,RT @AbilaPoliceDepartment Abila Police Departm...,NaN,NaN,NaN
2171,mbdata,2014-01-23 19:37:00,sithLordJames,RT @KronosStar Abila police are in pursuit of ...,NaN,NaN,NaN
2294,mbdata,2014-01-23 19:41:29,sithLordJames,RT @HomelandIlluminations just moments ago sho...,NaN,NaN,NaN
2486,mbdata,2014-01-23 19:44:45,sithLordJames,RT @KronosStar Shots fired at Gelato Galore. P...,NaN,NaN,NaN
2493,mbdata,2014-01-23 19:44:57,sithLordJames,RT @NewsOnlineToday Witnesses report police ho...,NaN,NaN,NaN
2540,mbdata,2014-01-23 19:45:45,sithLordJames,RT @KronosStar Shots fired at Gelato Galore. P...,NaN,NaN,NaN
2542,mbdata,2014-01-23 19:45:45,sithLordJames,RT @prettyRain OMGOMGOMG i'm scared -someones ...,NaN,NaN,NaN
2563,mbdata,2014-01-23 19:46:11,sithLordJames,RT @HomelandIlluminations APB reports more APD...,NaN,NaN,NaN
2631,mbdata,2014-01-23 19:48:40,sithLordJames,RT @ernieO What the heck is going on today!? C...,NaN,NaN,NaN
3075,mbdata,2014-01-23 20:12:01,sithLordJames,RT @CentralBulletin paramedics take injured fi...,NaN,NaN,NaN
4056,mbdata,2014-01-23 21:31:45,sithLordJames,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN